<h1 class="title">New Message</h1>

<%= form_for @message do |f| %>
  <div class="field">
    <div class="control">
      <%= f.label :recipient_id, class: "lable" %>
      <div class="select">  
      <%= f.select :recipient_id, User.recipient_options(current_user) %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.label :comment, class: "label" %>
      <%= f.text_area :body, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <div class="conrtol">
      <button class="button is-warning">
        <%= icon("send", "Send") %>
      </button>
    </div>
  </div>
<% end %>
