<div class="account-create">
  <%= form_for user do |f| %>
    <div class="field">
      <%= f.text_field :name, placeholder: "Name", class: "input" %>
    </div>
    <div class="field">
      <%= f.text_field :email, placeholder: "Email", class: "input" %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: "Password", class: "input" %>
    </div>
    <div class="field">
      <%= f.submit "Register", class: "button is-warning" %>
    </div>
  <% end %> 
</div>