<h1 class="title">Friends List</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Friends</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |another_user| %>
        <tr>
          <td><%= image_tag another_user.image_url_or_default %></td>
          <td><%= another_user.name %></td>
          <td><%= another_user.email %></td>
          <td>
            <% if @current_user.is_friend?(another_user) %>
              <%= link_to "Remove Friend", remove_friend_path(user_id: another_user), class: "buttom is-danger", method: :delete %>
            <% else %>
              <%= form_for @current_user.friendships.build(friend: another_user) do |f| %>
                <%= f.hidden_field :user_id %>
                <%= f.hidden_field :friend_id %>
                <%= f.submit "Add Friend", class: "button is-primary" %>
              <%  end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>%>
  