<% unless current_user %>
  <%= link_to "Create An Account", new_user_path, class: "button is-warning" %>
  <%= link_to icon("facebook", "Log in with Facebook"), "/auth/facebook", class: "button is-warning" %>
<% else %>
  <div class="container">  
    <div class="columns">
      <div class="column is-one-quarter">
        <aside class="menu">
          <ul class="menu-list">
            <p class="title">Apps</p>
              <li><%= link_to icon("newspaper-o", "NewsFeed"), root_path, class: "#{'is-active' if current_page?(root_path)}" %></li>
              <li><%= link_to icon("comments", "Messages"), new_message_path, class: "#{'is-active' if current_page?(inbox_messages_path)}" %></li>
          </ul>
        </aside>
      </div>
      <div class="column is-two-thirds">
       <%= render "posts/create_posts", post: @post  %>
        <div class="all-posts">
          <% @posts.each do |post| %>
            <%= render "posts/post", post: post %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
    <div class="pagination" data-pagination-endpoint="<%= paging_posts_path %>" data-pagination-pages="<%= @posts.total_pages %>">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="margin: auto"></i>
    </div>
  </div>
<% end %>
                    

          