<% unless current_user %>
  <%= link_to "Create An Account", new_user_path, class: "button is-warning" %>
  <%= link_to icon("facebook", "Log in with Facebook"), "/auth/facebook", class: "button is-warning" %>
<% else %>
  <div class="container">  
    <div class="columns">
      <div class="column is-one-quarter">
        <aside class="menu">
          <ul class="menu-list">
            <p class="title">Apps</p>
              <li><%= link_to icon("newspaper-o", "NewsFeed"), root_path, class: "#{'is-active' if current_page?(root_path)}" %></li>
              <li><%= link_to icon("comments", "Messages"), new_message_path, class: "#{'is-active' if current_page?(inbox_messages_path)}" %></li>
          </ul>
        </aside>
      </div>
      <div class="column is-two-thirds">
        <%= form_for(current_user.posts.build) do |f| %>
        <div class="card-post" style="margin-bottom: 20px">
          <div class="card-content">
            <article class="media">
              <figure class="media-left">
                <p class="image is-32x32">
                  <%= image_tag current_user.image_url_or_default %>
                </p>
              </figure>
              <div class="media-content">             
                <div class="field">
                  <%= f.hidden_field :poster_id, value: current_user.id %>
                  <%= f.text_area :body, class: "textarea", placeholder: "What's on your mind, #{current_user.name}?" %>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item"></div>
                  </div>  
                  <div class="level-right">
                    <button class="level-item button is-warning">
                      <p><%= icon("send", "Send") %></p>
                    </button>
                  </div>
                </nav>  
              </div>
            </article>
          </div>
        </div>
        <% end %>        
        <% @posts.each do |post| %>
          <%= render "posts/post", post: post %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="pagination" data-pagination-endpoint="<%= paging_posts_path %>" data-pagination-pages="<%= @posts.total_pages %>">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="margin: auto"></i>
    </div>
  </div>
<% end %>
                    

          