<div class="card post" id="<%= dom_id post %>">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <div class="image is-32x32">
          <%= image_tag "http://lorempixel.com/128/128/people/" %>
        </div>
      </div>
      <div class="media-content">
        <p class="is-title"><%= post.poster.name %></p>
        <%= mentions_text(post) %>
        <small><%= time_ago_in_words post.updated_at %> ago</small>
      </div>
    </div>
    <div class="content">
      <p><%= post.body %></p>
    </div>
  </div>
  <div class="card-footer">
    <div class="level">
      <div class="level-left">
        <%= link_to icon("thumbs-up", "Like"), toggle_like_path(post_id: post.id), 
          class: "js-like-post button is-white #{'is-liked' if current_user && current_user.liking?(post)}", 
          method: 'post', remote: true %>
      </div>
    </div>
  </div>
  <%= render "posts/likes_sentence", post: post %>
  <%= render "comments/likes_comment", post: post %>
  <%= render "posts/post_comment_form", post: post %>
</div>