<div class="card post">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <div class="image is-32x32">
          <%= image_tag "http://lorempixel.com/128/128/people/" %>
        </div>
      </div>
      <div class="media-content">
        <div class="title"><%= post.poster.name %></div>
        <small><%= time_ago_in_words post.updated_at %> ago</small>
      </div>
    </div>
    <div class="content">
      <%= post.body %>
    </div>
  </div>
  <div class="card-footer">
    <div class="level">
      <div class="level-left">
        <%= link_to icon("thumbs-up", "Like"), toggle_like_path(post_id: post.id), 
                    class: "level-item button is-white #{'is-liked' if current_user && current_user.liking?(post)}", method: 'post' %>
        <%= form_for(current_user.comments.build) do |f| %>
          <div class="field">
            <div class="control">
              <%= f.hidden_field :post_id, value: post.id %>
              <%= f.text_area :body, class: "input" %>
            </div>
          </div>
          <div class="field">
            <div class="conrtol">
              <button class="button is-primary">
                <%= icon("send", "Send") %>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= post.likes.map{|e| e.user_name}.to_sentence   %>
</div>